@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.banner,
.bannerAbout {
  position: relative;
  width: 100%;
  height: $banner-height-mobile;
  margin-top: $spacing-sm;
  border-radius: $radius-md;
  overflow: hidden;
  background-color: transparent;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media (min-width: $breakpoint-tablet) {
    height: $banner-height-desktop;
    margin: 0;
    border-radius: $radius-lg;
  }
}

.banner {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../../assets/banner.svg");
}

.bannerAbout {
  margin-top: 0;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../../assets/bannerAbout.svg");
}

.banner__title {
  position: absolute;
  top: 27%;
  left: 45%;
  width: 80%;
  font-size: $font-size-lg;
  font-weight: 700;
  color: $white;
  z-index: 2;
  line-height: 103%;
  text-shadow: 1px 1px 2px $black;
  transform: translate(-50%, -50%);

  @media (min-width: $breakpoint-tablet) {
    font-size: $font-size-2xl;

    top: 28%;
  }
}

br {
  @media (min-width: $breakpoint-tablet) {
    display: none;
  }
}
