@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.card {
  position: relative;
  width: 100%;
  height: $card-height-mobile;
  border-radius: $radius-md;
  overflow: hidden;
  max-width: 340px;

  @media (min-width: $breakpoint-tablet) {
    height: $card-height-desktop;
  }

  &__image {
    @include image-cover;
  }

  &__title {
    position: absolute;
    left: 0.8rem;
    top: 9.5em;
    font-size: $font-size-md;
    font-weight: 700;
    color: $white;
    z-index: 2;

    @media (min-width: $breakpoint-tablet) {
      top: 13.5em;
      line-height: 143%;
    }
  }
}

.card::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    transparent 40%,
    rgba(0, 0, 0, 0.8) 100%
  );
}
