@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.footer {
  @include flex-centered;
  justify-content: center;
  width: 100%;
  height: 13em;
  background-color: $black;

  &__container {
    @include flex-centered;
    justify-content: center;
    flex-direction: column;
    width: 36%;
    height: 50%;
  }

  &__logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
    color: $white;
  }

  &__rights {
    color: $white;
    font-weight: 500;
    font-size: 12px;
    text-align: center;
  }
}
