@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.header {
  @include flex-between;
  margin: $spacing-xl $spacing-2xl;

  @media (min-width: $breakpoint-tablet) {
    margin: $spacing-3-5xl $spacing-6xl;
  }

  &__image {
    width: 9rem;
    flex-shrink: 0;

    @media (min-width: $breakpoint-tablet) {
      width: 13rem;
    }
  }

  &__nav {
    @include flex-aligned;
    gap: 1rem;

    @media (min-width: $breakpoint-tablet) {
      gap: 4rem;
    }
  }

  &__link {
    color: $black;
    font-weight: 500;
    font-size: $font-size-xs;
    text-transform: uppercase;

    @media (min-width: $breakpoint-tablet) {
      font-size: $font-size-lg;
      text-transform: none;
    }

    &.active {
      text-decoration: underline;
    }
  }
}
