@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.rating {
  display: flex;
  gap: 0.15rem;

  @media (min-width: $breakpoint-tablet) {
    margin-top: $spacing-2xl;
    gap: 0.2rem;
  }

  .star {
    @media (min-width: $breakpoint-tablet) {
      width: $spacing-3xl;
    }
  }
}
