@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.slideshow {
    width: 335px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;

    &__picture {
         width: 100%;
        height: 100%;
        object-fit: contain;
        display: block;
    }

    &__nav {
        @include flex-centered;
        width: 100%;
        top: 50%;
        position: absolute;
        justify-content: space-between;
    }

    &__prev-btn, &__next-btn {
        border: none;
        background: none;
    }
}