@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.tag {
  @include flex-centered;
  justify-content: center;
  min-height: 1.14em;
  border-radius: $radius-sm;
  background-color: $red;
  padding: 0 1.4em;

  @media (min-width: $breakpoint-tablet) {
    padding: 0.15em 1.7em;
    border-radius: $radius-md;
  }

  &__text {
    font-size: $font-size-xs;
    font-weight: 700;
    color: $white;
    padding: 0 0.5em;
    margin: 0;
    white-space: nowrap;
    line-height: 143%;

    @media (min-width: $breakpoint-tablet) {
      font-size: $font-size-base;
    }
  }
}
