@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.about-container-desktop {
  @include flex-aligned;
  flex-direction: column;

  @media (min-width: $breakpoint-tablet) {
    margin: 0 $spacing-5xl;
    margin-bottom: -1rem;
  }

  .collapse-container {
    @include flex-aligned;
    width: 100%;
    flex-direction: column;
    gap: $spacing-xl;
    margin-top: $spacing-xl;

    @media (min-width: $breakpoint-tablet) {
      padding: $spacing-3xl 0;
      gap: $spacing-2-5xl;
      margin-top: 0;
    }
  }
}
