@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.about-container-desktop {
    @include flex-centered;
    flex-direction: column;
    
    @media (min-width: 768px) {
        margin: 0 5rem;
        margin-bottom: -1rem;
    }
    
    .collaps-container {
        @include flex-centered;
        width: 82%;
        flex-direction: column;
        
        @media (min-width: 768px) {
            padding: 37px 0;
            gap: 1.8em;
        }
    }
}