@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.error-page {
  @include flex-centered;
  flex-direction: column;
  padding-top: $spacing-5xl;

  @media (min-width: $breakpoint-tablet) {
    padding-top: 0;
  }

  @media (min-width: $breakpoint-desktop) {
    padding-top: $spacing-6xl;
  }

  &__title {
    font-size: $font-size-3xl;
    font-weight: 700;
    color: $red;

    @media (min-width: $breakpoint-tablet) {
      font-size: $font-size-4xl;
    }

    @media (min-width: $breakpoint-desktop) {
      line-height: 70%;
    }
  }

  &__message {
    margin-top: $spacing-5xl;
    line-height: 142%;
    font-size: $font-size-md;
    font-weight: 500;
    color: $red;
    text-align: center;

    @media (min-width: $breakpoint-tablet) {
      font-size: $font-size-xl;
      margin-top: $spacing-lg;
    }

    @media (min-width: $breakpoint-desktop) {
      margin-top: $error-message-mt-desktop;
    }
  }

  &__link {
    margin-top: $spacing-6xl;
    font-size: $font-size-base;
    font-weight: 500;
    text-decoration: underline;
    color: $black;

    @media (min-width: $breakpoint-tablet) {
      font-size: $font-size-md;
      margin-top: $spacing-lg;
    }

    @media (min-width: $breakpoint-desktop) {
      margin-top: 6.8rem;
    }
  }
}
