@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.error-page {
    @include flex-centered;
    flex-direction: column;
    padding-top: 5.4em;

        @media (min-width: 768px) {
       padding-top: 2.4em;
    }
    
    &__title {
        font-size: 96px;
        font-weight: 700;
        color: $red;
        
        @media (min-width: 768px) {
      font-size: 288px;
    }
    }

    &__message {
        margin-top: 5.8em;
        line-height: 142%;
        font-size: 18px;
        font-weight: 500;
        color: $red;
        text-align: center;

        @media (min-width: 768px) {
       font-size: 36px;
       margin-top: 2.5em;
    }
    }

    &__link {
        margin-top: 7em;
        font-size: 14px;
        font-weight: 500;
        text-decoration: underline;
        color: $black;

         @media (min-width: 768px) {
       font-size: 18px;
       margin-top: 5.8em;
    }
    }

    // br{
    //     display: none
    // }
}


// Dand les media query mettre en display none le br