@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.section-cards {
  @include flex-centered;
  justify-content: center;
  flex-wrap: wrap;
  gap: $spacing-2xl;
  width: 100%;
  height: max-content;

  @media (min-width: $breakpoint-tablet) {
    border: 1px solid $light-grey;
    background-color: $light-grey;
    border-radius: $radius-lg;
    padding: $spacing-4xl 0;
    margin-top: $spacing-3xl;
    gap: $spacing-4xl;
  }
}

.main-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: $spacing-xl;

  @media (min-width: $breakpoint-tablet) {
    margin: 0 $spacing-5xl;
  }
}
