@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.housepage {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  @media (min-width: $breakpoint-tablet) {
    margin: 0 $spacing-5xl;
    margin-bottom: -1rem;
  }

  &__title {
    font-size: $font-size-md;
    font-weight: 500;
    color: $red;
    line-height: 143%;

    @media (min-width: $breakpoint-tablet) {
      font-size: $font-size-xl;
      margin-top: $spacing-2xl;
    }
  }

  &__desc {
    font-size: $font-size-base;
    font-weight: 500;
    line-height: 143%;
    margin: $spacing-xs 0;

    @media (min-width: $breakpoint-tablet) {
      margin: 0;
      font-size: $font-size-md;
    }
  }

  &__tags {
    @include flex-aligned;
    gap: $spacing-sm;
    flex-wrap: wrap;
    margin: $spacing-md 0;

    @media (min-width: $breakpoint-tablet) {
      margin: $spacing-xl 0 0 0;
    }
  }
}

.house-infos {
  @include flex-between;
  width: 100%;
  margin-top: 0.5rem;

  @media (min-width: $breakpoint-tablet) {
    display: flex;
    flex-direction: column-reverse;
    width: max-content;
    align-items: flex-end;
    margin-top: 1rem;
  }

  &__host {
    @include flex-aligned;
    justify-content: flex-end;
    width: 31%;
    text-align: end;
    gap: 0.5rem;

    @media (min-width: $breakpoint-tablet) {
      text-align: center;
      width: auto;
    }

    .host-pic-wrapper {
      position: relative;
      width: $spacing-2-5xl;
      border-radius: 50%;
      max-width: 40px;
      overflow: hidden;

      @media (min-width: $breakpoint-tablet) {
        width: 64px;
        max-width: 70px;
      }
    }

    .host-picture {
      @include image-cover;
    }

    .host-name {
      white-space: pre-line;
      font-size: $font-size-xs;
      font-weight: 500;
      color: $red;
      margin: 0;

      @media (min-width: $breakpoint-tablet) {
        font-size: $font-size-md;
      }
    }
  }
}

.collapses-section {
  @include flex-aligned;
  flex-direction: column;
  gap: $spacing-xl;
  padding-bottom: $spacing-xl;

  @media (min-width: $breakpoint-tablet) {
    flex-direction: row;
    margin-top: 1rem;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: $spacing-2-5xl;
    gap: $spacing-2-5xl;
  }

  @media (min-width: $breakpoint-desktop) {
    flex-direction: row;
    margin-top: 1rem;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: $spacing-3-5xl;
    gap: $spacing-5xl;
  }
}

.container-desktop {
  @media (min-width: $breakpoint-tablet) {
    display: grid;
    grid-template-columns: 3.5fr 1fr;
    align-items: start;
  }
}

.col-right {
  display: flex;

  @media (min-width: $breakpoint-tablet) {
    width: auto;
    justify-content: flex-end;
  }
}
