@use "../abstracts/variables" as *;

html,
body,
#root {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

// es ce que c'est cohérent moderne css3?

body {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

#root {
  display: flex;
  flex-direction: column;
  // width: 100%;
}

main {
  margin: 0 1.2rem;
  padding: 0;
  // flex: 1;
  min-height: auto;
}

h1,
h2,
h3 {
  margin: 0;
}

p,
a,
small,
h1,
h2,
h3 {
  font-family: $font-text;
}

a {
  text-decoration: none;
}
